@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdd = Convert.ToBoolean(ViewData["blAddRights"]);
    bool isEdit = Convert.ToBoolean(ViewData["blEditRights"]);
    bool isDelete = Convert.ToBoolean(ViewData["blDeleteRights"]);
    bool isExport = Convert.ToBoolean(ViewData["blExportRights"]);
}
@using (Html.BeginForm("Role", "Role", FormMethod.Post, new { @id = "frmRole", @class = "form_validation_ttip well stdform" }))
{
    <div class="panel panel-grey">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        @Html.Hidden("hfAdd", @isAdd)
        @Html.Hidden("hfEdit", @isEdit)
        @Html.Hidden("hfDelete", @isDelete)
        @Html.Hidden("hfExport", @isExport)

        <div class="panel-body pan">
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="row search-label">
                        <label class="control-label col-md-3">
                            Search
                        </label>
                        <div class="col-md-9">
                            <input type="text" id="txtRoleSearch" class="form-control" tabindex="1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9 text-right">
                    <label class="control-label">
                        &nbsp;
                    </label>
                    @if (isAdd)
                    {
                        @Html.ActionLink("Add New Role", "Role", "Role", null, new { @class = "btn btn-primary" })
                    }
                    @if (isDelete)
                    {
                        <input class="btn btn-danger" id="btnDeleteRole" name="inputDelete" type="button" value="Delete Role" tabindex="3" title='Delete Role' />
                    }
                   
                </div>
            </div>
            <div class="span12 user-contant">
                <div id="dvRole">
                    <table id="tblRole"></table>
                    <div id="dvRoleFooter" style="text-align: center;"></div>
                </div>
            </div>
        </div>

    </div>
}
<script src="~/Scripts/Utility/RoleView.js?v=@DateTime.Now.Ticks"></script>
