@model FleetManagerWeb.Models.ClsTracker
@{
    ViewBag.Title = "Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Tracker", "Tracker", FormMethod.Post, new { @id = "frmTracker", @class = "form_validation_ttip well stdform" }))
{

    <div class="panel panel-grey">
        <div class="panel-heading">
            @ViewBag.Title
        </div>

        <div class="panel-body pan">
            <div class="row-fluid">
                @Html.HiddenFor(m => m.hdniFrame)
                @Html.HiddenFor(m => m.inId)
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Registration<span class="f_req">*</span>
                        </label>
                        @if (Model.inId > 0)
                        {
                            @Html.DropDownListFor(m => m.inCarIdForRegistration, Model.lstRegisteration, new { @class = "span11  required disabled form-control", @tabindex = "2", @disabled = "disabled", @next = "inCarId" })
                            @Html.HiddenFor(m => m.inCarIdForRegistration)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.inCarIdForRegistration, Model.lstRegisteration, new { @class = "span11  required form-control", @tabindex = "2", @next = "inCarId" })
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Code <span class="f_req">*</span>
                        </label>
                        @if (Model.inId > 0)
                        {
                            @Html.DropDownListFor(m => m.inCodeId, Model.lstCode, new { @class = "span11  required disabled form-control", @tabindex = "2", @disabled = "disabled", @next = "lgCompanyId" })
                            @Html.HiddenFor(m => m.inCodeId)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.inCodeId, Model.lstCode, new { @class = "span11  required form-control", @tabindex = "2", @next = "lgCompanyId" })
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">
                            Car <span class="f_req">*</span>
                        </label>
                        @if (Model.inId > 0)
                        {
                            @Html.DropDownListFor(m => m.inCarId, Model.lstCar, new { @class = "span11  required disabled form-control", @tabindex = "2", @disabled = "disabled", @next = "lgCompanyId" })
                            @Html.HiddenFor(m => m.inCarId)
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.inCarId, Model.lstCar, new { @class = "span11  required form-control", @tabindex = "2", @next = "lgCompanyId" })
                        }

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Company <span class="f_req">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.lgCompanyId, Model.lstCompany, new { @class = "span11 chosen required form-control", @tabindex = "3", @next = "blActive" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">
                            Active
                        </label>
                        <div class="col-md-10">
                            @Html.CheckBoxFor(m => m.blActive, new { @tabindex = "4", @next = "strTripStart" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Trip Start <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strTripStart, new { @class = "span11 required form-control datetimepicker-start", @maxlength = "12", @tabindex = "5", @next = "strTripEnd" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Trip End <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strTripEnd, new { @class = "span11 required form-control datetimepicker-end", @maxlength = "12", @tabindex = "6", @next = "strLocationStart" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Location Start <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strLocationStart, new { @class = "span11 required alphanumwithspc form-control", @maxlength = "100", @tabindex = "7", @next = "strLocationEnd" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Location End <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strLocationEnd, new { @class = "span11 required alphanumwithspc form-control", @maxlength = "100", @tabindex = "8", @next = "lgReasonId" })
                    </div>

                </div>
            </div>
            <div class="row form-group">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Trip Reason <span class="f_req">*</span>
                        </label>
                        @Html.DropDownListFor(m => m.lgReasonId, Model.lstTripReason, new { @class = "span11 required chosen form-control", @tabindex = "9", @next = "strReasonRemarks" })
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Reason Remarks <span class="f_req"></span>
                        </label>
                        @Html.TextBoxFor(m => m.strReasonRemarks, new { @class = "span11 alphanumwithspc form-control", @maxlength = "200", @tabindex = "10", @next = "inKmStart" })
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            KM Start <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.inKmStart, new { @class = "span11 required numwospc form-control", @maxlength = "10", @tabindex = "11", @next = "inKmEnd" })
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            KM End <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.inKmEnd, new { @class = "span11 required numwospc form-control", @maxlength = "10", @tabindex = "12", @next = "inKmDriven" })
                    </div>

                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            KM Driven <span class="f_req">*</span>
                        </label>
                        <input type="text" id="inKmDriven" name="inKmDriven" class="span11 required numwospc form-control readonly" maxlength="10" tabindex="13" next="inFuelStart" value="@(Model.inKmEnd - Model.inKmStart)" />
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Fuel Start <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.inFuelStart, new { @class = "span11 required numwospc form-control readonly", @maxlength = "10", @tabindex = "14", @next = "inFuelEnd", @style = "display:none;" })
                        <div id="inFuelStart-slider-value">@Model.inFuelStart</div>
                        <div id="inFuelStart-slider"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Fuel End <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.inFuelEnd, new { @class = "span11 required numwospc form-control readonly", @maxlength = "10", @tabindex = "15", @next = "strEntryDatetime", @style = "display:none;" })
                        <div id="inFuelEnd-slider-value">@Model.inFuelEnd</div>
                        <div id="inFuelEnd-slider"></div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Entry Date <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strEntryDatetime, new { @class = "span11 form-control readonly", @maxlength = "12", @tabindex = "16", @next = "strEntryMethod" })
                    </div>

                </div>

            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Entry Method <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strEntryMethod, new { @class = "span11 required alphanumwithspc form-control readonly", @maxlength = "1", @tabindex = "17", @next = "btnSubmit" })
                    </div>
                </div>
                @*<div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">
                                Groups <span class="f_req">*</span>
                            </label>
                            @Html.DropDownListFor(m => m.lgGroupId, Model.lstGroup, new { @class = "span11 chosen chzn-select required form-control", @tabindex = "", @next = "btnSubmit" })
                        </div>
                    </div>*@
            </div>

            @*<div class="row form-group">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Editable
                            </label>
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.blEditable, new { @tabindex = "5", @next = "strEmployeeCode", @checked = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label col-md-12">
                                Active
                            </label>
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.blActive, new { @tabindex = "5", @next = "strEmployeeCode" })
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row form-group">
                <div class="col-md-12">
                    @if (Model.inId > 0 && ViewData["UserRoleID"] != null && Convert.ToInt32(ViewData["UserRoleID"]) != FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode()
                && Convert.ToInt32(ViewData["UserRoleID"]) != FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.ADMIN.GetHashCode() && Model.blEditable == false)
                    {

                    }
                    else
                    {
                        <input class="btn btn-inverse btn-primary" id="btnSubmit" name="inputSubmit" type="submit" value="Save" tabindex="18" title='Save Tracker' />
                        <input class="btn btn-green cancel" id="btnCancel" name="inputCancel" type="button" value="Cancel" tabindex="19" title='Cancel Tracker' />
                    }
                    @if (Model.inId > 0 && ViewData["UserRoleID"] != null && (Convert.ToInt32(ViewData["UserRoleID"]) == FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode()
                        || Convert.ToInt32(ViewData["UserRoleID"]) == FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.ADMIN.GetHashCode())
                    )
                    {
                        <input class="btn btn-primary" id="btnChangeLog" type="button" tabindex="20" title="View Change Log" value="Change Log" onclick="LoadChangeLogTracker(@Model.inId)" />
                    }
                </div>
            </div>
        </div>
    </div>
}
<div id="logModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" style="overflow:auto;">
            <div class="modal-body">
                <div class="span12 user-contant">
                    <div id="dvChangeLogTracker">
                        <table id="tblChangeLogTracker"></table>
                        <div id="dvChangeLogTrackerFooter"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/Utility/Tracker.js?v=@DateTime.Now.Ticks"></script>
