@model FleetManagerWeb.Models.ClsUser
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("User", "User", FormMethod.Post, new { @id = "frmUser", @class = "form_validation_ttip well stdform" }))
{
    <div class="panel panel-grey">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        <div class="panel-body pan">
            <div class="row-fluid">
                @Html.HiddenFor(m => m.hdniFrame)
                @Html.HiddenFor(m => m.lgId)

                @Html.HiddenFor(m => m.blTripStartDate)
                @Html.HiddenFor(m => m.blTripEndDate)
                @Html.HiddenFor(m => m.blLocationStart)
                @Html.HiddenFor(m => m.blLocationEnd)
                @Html.HiddenFor(m => m.blTripReasonName)
                @Html.HiddenFor(m => m.blReasonRemarks)
                @Html.HiddenFor(m => m.blKmStart)
                @Html.HiddenFor(m => m.blKmEnd)
                @Html.HiddenFor(m => m.blKmDriven)
                @Html.HiddenFor(m => m.blFuelStart)
                @Html.HiddenFor(m => m.blFuelEnd)
                @Html.HiddenFor(m => m.blUsername)
                @Html.HiddenFor(m => m.blEntryDatetime)
                @Html.HiddenFor(m => m.blEntryMethod)
                @Html.HiddenFor(m => m.blEditable)
                @Html.HiddenFor(m => m.blActive)
                @Html.HiddenFor(m => m.blCompanyName)
                @Html.HiddenFor(m => m.blEditColumn)
                @Html.HiddenFor(m => m.blDeleteColumn)
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            First Name
                            <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strFirstName, new { @class = "span11 required alphanumwithspc form-control", @maxlength = "20", @tabindex = "2", @next = "strSurName" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Surname
                            <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strSurName, new { @class = "span11 required alphanumwithspc form-control", @maxlength = "20", @tabindex = "3", @next = "strMobileNo" })
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="control-label">
                        Mobile No
                        <span class="f_req">*</span>
                    </label>
                    @Html.TextBoxFor(m => m.strMobileNo, new { @class = "span11 required drivernumwospc form-control Digit10", @maxlength = "10", @tabindex = "4", @next = "strEmailID" })
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Email Id
                            <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strEmailID, new { @class = "span11 required emailid form-control", @maxlength = "50", @tabindex = "5", @next = "strUserName" })
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            User Name
                            <span class="f_req">*</span>
                        </label>
                        @Html.TextBoxFor(m => m.strUserName, new { @class = "span11 required form-control", @maxlength = "50", @tabindex = "6", @next = "strPassword" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Password
                            <span class="f_req">*</span>
                        </label>
                        @Html.PasswordFor(m => m.strPassword, new { @value = Model.strPassword, @class = "span11 required form-control", @maxlength = "20", @tabindex = "7", @next = "strAddress" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Confirm Password
                            <span class="f_req">*</span>
                        </label>
                        @Html.PasswordFor(m => m.strConfirmPassword, new { @value = Model.strConfirmPassword, @class = "span11 required form-control", @maxlength = "20", @tabindex = "7", @next = "strAddress" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">
                            Address
                        </label>
                        @Html.TextAreaFor(m => m.strAddress, new { @class = "span11 form-control", @maxlength = "100", @tabindex = "8", @next = "intSessionDurationHour" })
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-3">
                    <div class="row select-addnew">
                        <label class="control-label col-md-12">
                            Session Duration(Hour)
                        </label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.intSessionDurationHour, new { @class = "span11 required form-control", @maxlength = "50", @tabindex = "6", @next = "intUnsuccessfulLoginAttempt" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row select-addnew">
                        <label class="control-label col-md-12">
                            UnSuccessful Login Attempt
                        </label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.intUnsuccessfulLoginAttempt, new { @class = "span11 required form-control", @maxlength = "50", @tabindex = "6", @next = "intPasswordExpirationTime" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row select-addnew">
                        <label class="control-label col-md-12">
                            Password Expiration Time(Days)
                        </label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.intPasswordExpirationCount, new { @class = "span11 required form-control", @maxlength = "50", @tabindex = "6", @next = "lgRoleId" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="row select-addnew">
                        <label class="control-label col-md-12">
                            Role
                        </label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.lgRoleId, Model.lstRole, new { @class = "span11 required chosen form-control", @tabindex = "9", @next = "blIsActive" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
               
                @{
                    if (FleetManagerWeb.Common.mySession.Current.RoleId == FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode())
                    {
                        <div class="col-md-3" id="divAdminUser">
                            <div class="form-group">
                                <label class="control-label col-md-12">
                                    Assign Admin User
                                </label>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(m => m.lgAdminUserId, Model.lstAdminUser, new { @class = "span11 chzn-select required form-control", @tabindex = "9", @next = "btnSubmit" })
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label col-md-12">
                            Is Active
                        </label>
                        <div class="col-md-10" id="divblIsActive">
                            @Html.CheckBoxFor(m => m.blIsActive, new { @tabindex = "11", @next = "lgUserId" })
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    <div class="span12 user-contant">
                        <div id="dvRolePermission">
                            <table id="tblGroupPermission"></table>
                            <div id="dvRolePermissionFooter" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-12">
                    @if (FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode() == FleetManagerWeb.Common.mySession.Current.RoleId || FleetManagerWeb.Common.mySession.Current.UserId == Model.lgAdminUserId
                    || Model.lgId <= 0)
                    {
                        <input class="btn btn-inverse btn-primary" id="btnSubmit" name="inputSubmit" type="submit" value="Save" tabindex="12" title="Save User" />
                    }   
                    <input class="btn btn-green cancel" id="btnCancel" name="inputCancel" type="button" value="Cancel" tabindex="13" title="Cancel User" />

                </div>
            </div>

        </div>
    </div>
                    }
<script type="text/javascript">
    var SYSAdminRoleID = '@FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode()';
    var AdminRoleID = '@FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.ADMIN.GetHashCode()';

    $(document).ready(function () {

        if(@Model.lstAdminUser.Count() <= 0)
        {
            $("#divAdminUser").hide();
            $("#lgAdminUserId").empty();
            $(".chzn-select").trigger("chosen:updated");
        }

        $(".chzn-select").chosen();


        if ($("#lgRoleId").val() == "") {
            $("#blIsActive").prop("checked", false);
            $("#blIsActive").prop("disabled", "disabled");
            $("#blIsActive").parent().removeClass("checked");
        }
        else {
            $("#blIsActive").prop("disabled", false);

            if ($("#lgRoleId").val() == AdminRoleID || $("#lgRoleId").val() == SYSAdminRoleID) {
                $("#divAdminUser").hide();
                $("#lgAdminUserId").empty();
                $(".chzn-select").trigger("chosen:updated");
            }
        }

        LoadGroupPermission();
    });
</script>
<script src="~/Scripts/Utility/User.js?v=@DateTime.Now.Ticks"></script>
