@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdd = Convert.ToBoolean(ViewData["blAddRights"]);
    bool isEdit = Convert.ToBoolean(ViewData["blEditRights"]);
    bool isDelete = Convert.ToBoolean(ViewData["blDeleteRights"]);
    bool isExport = Convert.ToBoolean(ViewData["blExportRights"]);
    int UserRoleID = Convert.ToInt32(ViewData["UserRoleID"]);

    int SYSAdminRoleID = FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.SYSADMIN.GetHashCode();
    int AdminRoleID = FleetManagerWeb.Common.Enum.USER_ADMIN_ROLES.ADMIN.GetHashCode();
}

@using (Html.BeginForm("Group", "Group", FormMethod.Post, new { @id = "frmGroup", @class = "form_validation_ttip well stdform" }))
{
    <div class="panel panel-grey">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        @Html.Hidden("hfAdd", @isAdd)
        @Html.Hidden("hfEdit", @isEdit)
        @Html.Hidden("hfDelete", @isDelete)
        @Html.Hidden("hfExport", @isExport)
        @Html.Hidden("hdnUserRoleID", @UserRoleID)
        @Html.Hidden("hdnSYSAdminRoleID", @SYSAdminRoleID)
        @Html.Hidden("hdnAdminRoleID", @AdminRoleID)

        <div class="panel-body pan">
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="row search-label">
                        <label class="control-label col-md-3">
                            Search
                        </label>
                        <div class="col-md-9">
                            <input type="text" id="txtGroupSearch" class="form-control" tabindex="1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9 text-right">
                    <label class="control-label">
                        &nbsp;
                    </label>
                    @{
                        if (UserRoleID == SYSAdminRoleID || UserRoleID == AdminRoleID)
                        {
                            if (isAdd)
                            {
                                @Html.ActionLink("Add New Group", "Group", "Group", null, new { @class = "btn btn-primary" })
                            }
                            if (isDelete)
                            {
                                <input class="btn btn-danger" id="btnDeleteGroup" name="inputDelete" type="button" value="Delete Group" tabindex="3" title='Delete Group' />
                            }
                            if (isExport)
                            {
                                <input class="btn btn-danger" id="btnExportPdf" name="inputExportPDF" type="button" value="Export to PDF" tabindex="4" title='Export to PDF' />
                                <input class="btn btn-danger" id="btnExportCsv" name="inputExportCsv" type="button" value="Export to CSV" tabindex="5" title='Export to CSV' />
                            }
                        }
                    }
                </div>
            </div>
            <div class="span12 Group-contant">
                <div id="dvGroup">
                    <table id="tblGroup"></table>
                    <div id="dvGroupFooter"></div>
                </div>
            </div>
        </div>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="UserGroupModal" tabindex="-1" role="dialog" aria-labelledby="UserGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="panel panel-grey">
                    <h5 class="modal-title panel-heading" id="UserGroupModalLabel">
                        <span id="spnGroupName"></span>'s User List
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:white;">&times;</span>
                        </button>
                    </h5>
                </div>

                <div class="modal-body">
                    <div id="dvUserGroup">
                        <table id="tblUserGroup"></table>
                        <div id="dvUserGroupFooter"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        }
<script src="~/Scripts/Utility/GroupView.js?v=@DateTime.Now.Ticks"></script>
