@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdd = Convert.ToBoolean(ViewData["blAddRights"]);
    bool isEdit = Convert.ToBoolean(ViewData["blEditRights"]);
    bool isDelete = Convert.ToBoolean(ViewData["blDeleteRights"]);
}
@using (Html.BeginForm("Order", "Order", FormMethod.Post, new { @id = "frmOrder", @class = "form_validation_ttip well stdform" }))
{
    <div class="panel panel-grey">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        @Html.Hidden("hfAdd", @isAdd)
        @Html.Hidden("hfEdit", @isEdit)
        @Html.Hidden("hfDelete", @isDelete)

        <div class="panel-body pan">
            <div class="row form-group">
                <div class="col-md-3">
                    <div class="row search-label">
                        <label class="control-label col-md-3">
                            Search
                        </label>
                        <div class="col-md-9">
                            <input type="text" id="txtOrderSearch" class="form-control" tabindex="1" />
                        </div>
                    </div>
                </div>
                <div class="col-md-9 text-right">
                    <label class="control-label">
                        &nbsp;
                    </label>
                    @if (isAdd)
                    {
                        @Html.ActionLink("Add New Order", "Order", "Order", null, new { @class = "btn btn-primary" })
                    }
                    @if (isDelete)
                    {
                        <input class="btn btn-danger" id="btnDeleteOrder" name="inputDelete" type="button" value="Delete Order" tabindex="3" title='Delete Order' />
                    }
                </div>
            </div>
            <div class="span12 user-contant">
                <div id="dvOrder">
                    <table id="tblOrder"></table>
                    <div id="dvOrderFooter"></div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Utility/OrderView.js?v=@DateTime.Now.Ticks"></script>
